{% extends "base.twig" %}

{% block content %}
	<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
		<section class="article-content">
			<div class="article-header">
				<div class="wrapper">
					<h1>{{post.title}}</h1>
				</div>
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1366 81" width="1366" height="81" class="header-angle">
				    <polygon points="0 81 1366 81 1366 0 0 81" fill="#fff" />
				</svg>
			</div>
			<div class="article-body wrapper">
				<div class="columns">
					<div class="column">
						<div class="article-body">
							{{post.content}}
						</div>
					</div>
					<div class="column">
						<div class="landing-page-form">
							{{post.get_field('form_shortcode')}}
						</div>
					</div>
				</div>
			</div>
		</section>
	</article>
{% endblock %}